h1{
    text-align: center;
    color: #272B1E;
}
img{
    width: 30vw;
    margin: auto;
}
nav{
    background-color: #414833;
    padding: 10px;
}
nav h2{
    color: #EFF0ED;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav li {
    display: inline;
    margin-right: 25px;
}
a {
    text-decoration: none;
    color: #272B1E;
}
nav a{
    color: #B1D1E0;
    font-size: 1.5em;
    text-decoration: none;
}
nav a:hover{
    color: cornflowerblue;
}
body{
    background: -moz-linear-gradient(left, #09151b 0%, #16303D 50%, #16303D 52%, #09151b 100%); 
    background: -webkit-linear-gradient(left, #09151b 0%,#16303D 50%,#16303D 52%,#09151b 100%); 
    background: linear-gradient(to right, #09151b 0%,#16303D 50%,#16303D 52%,#09151b 100%);
    text-align: center;
    justify-content: center;
}
main {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5vh;
    padding-top: 10vh;
    width: 90vw;
    background-color: #eff0ede1;
    color: #272B1E;
    min-height: 80vh;
}
h2 a:hover {
    color: #737e5d;
}
footer{
    text-align: right;
    width: 100vw;
    height: 1.5rem;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: #414833;
    color: white;
    padding-right: 3vw;
}
footer a {
    color: white;
    text-decoration: underline;
}